﻿<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>SINF Web API</h1>
            </hgroup>
        </div>
    </section>
</div>
